.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $montserrat-regular;
  font-size: 16px;
  line-height: 150%;
  color: $base-white;
  background-color: $base-primary;
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    background-color: $alt-primary-lighter;
  }

  &:active {
    background-color: $alt-primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  &--secondary {
    background-color: $base-white;
    color: $base-primary;

    &:hover,
    &:focus {
      color: $base-white;
    }

    &:active {
      color: $base-white;
    }

    &:disabled {
      background-color: $alt-light-grey;
    }
  }
}
