.filter__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @media (min-width: $tablet) {
    grid-template-columns: 223px 222px 1fr;
    gap: 40px 30px;
  }

  @media (min-width: $desctop) {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.filter__field {
  border: none;
  margin: 0;
  padding: 0;
}

.filter__field-title {
  font-family: $montserrat-semibold;
  font-size: 16px;
  line-height: 150%;
  margin: 0 0 20px;
  padding: 0;
}

.filter__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 44px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 140px;
    width: 8px;
    height: 2px;
    transform: translate(-50%, -50%);
    background-color: $base-grey;
  }

  @media (min-width: $tablet) {
    gap: 48px;

    &::after {
      left: 111px;
    }
  }

  @media (min-width: $desctop) {
    &::after {
      left: 159px;
    }
  }
}

.filter__slider {
  margin-top: 10px;
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $desctop) {
    margin-bottom: 31px;
  }
}

.filter__slider-span {
  font-size: 18px;
  color: $base-grey;
}

.filter__slider-input {
  font-family: $montserrat-medium;
  font-size: 16px;
  line-height: 150%;
  color: $base-black;
  text-align: center;
  width: 118px;
  height: 40px;
  border: 2px solid $alt-primary-lighter;
  border-radius: 4px;
  padding: 8px 10px;
  background-color: $base-white;

  &::placeholder {
    color: $base-grey;
  }

  @media (min-width: $tablet) {
    width: 87px;
  }

  @media (min-width: $desctop) {
    width: 134px;
  }

  &:focus {
    border: 2px solid $alt-primary-darker;
  }

  &:disabled {
    border: 2px solid $alt-light-grey;
    color: $base-grey;
  }
}

.filter__slider-input::-webkit-outer-spin-button,
.filter__slider-input::-webkit-inner-spin-button {
  appearance: none;
}

.filter__slider-input[type="number"] {
  appearance: textfield;
}

.filter__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__span {
  font-size: 16px;
  line-height: 150%;
}

.filter__label {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;

  &:hover .filter__mark--radio,
  &:focus .filter__mark--radio {
    border: 2px solid $alt-primary-lighter;
  }

  &:hover .filter__mark--radio::before,
  &:focus .filter__mark--radio::before {
    background-color: $alt-primary-opacity;
  }

  &:hover .filter__mark--checkbox,
  &:focus-within .filter__mark--checkbox {
    background-color: $alt-primary-opacity;
    outline: 2px solid $alt-primary-lighter;
    outline-offset: -2px;
  }

  &:hover .filter__input[type="radio"]:disabled + .filter__mark--radio::before {
    background-color: transparent;
  }

  &:hover .filter__input[type="radio"]:checked:disabled + .filter__mark--radio::before {
    background-color: $alt-light-grey;
  }

  &:hover .filter__input[type="checkbox"]:disabled + .filter__mark--checkbox {
    outline: none;
  }
}

.filter__mark--radio {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $base-grey;
  transition: all 0.2s ease;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
}

.filter__input[type="radio"]:checked + .filter__mark--radio {
  border: 2px solid $base-primary;
}

.filter__input[type="radio"]:checked + .filter__mark--radio::before {
  background-color: $base-primary;
}

.filter__input[type="radio"]:checked:disabled + .filter__mark--radio::before {
  background-color: $alt-light-grey;
}

.filter__input[type="radio"]:disabled + .filter__mark--radio {
  border: 2px solid $alt-light-grey;
  background-color: $bg-lightest-grey;
}

.filter__input[type="radio"]:disabled ~ .filter__span {
  color: $base-grey;
}

.filter__mark--checkbox {
  position: relative;
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: $base-grey;
  transition: all 0.2s ease;

  &::after {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $base-white;
    transition: all 0.2s ease;
  }
}

.filter__input[type="checkbox"]:checked + .filter__mark--checkbox {
  background-color: $base-primary;
}

.filter__input[type="checkbox"]:checked + .filter__mark--checkbox::after {
  left: 20px;
}

.filter__input[type="checkbox"]:checked:disabled + .filter__mark--checkbox::after {
  left: 20px;
  background-color: $base-grey;
}

.filter__input[type="checkbox"]:disabled + .filter__mark--checkbox {
  background-color: $alt-light-grey;
}

.filter__input[type="checkbox"]:disabled + .filter__mark--checkbox::after {
  background-color: $bg-lightest-grey;
}

.filter__input[type="checkbox"]:disabled ~ .filter__span {
  color: $base-grey;
}

.filter__buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    grid-column: 1/4;
    width: 277px;
    margin: 0 auto;
  }

  @media (min-width: $desctop) {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/2;
    margin: 10px 0 0;
    width: auto;
  }
}

.filter__button {
  @media (min-width: $desctop) {
    padding: 8px 26px;
  }

  &--reset {
    @media (min-width: $desctop) {
      padding: 8px 34px;
    }
  }
}
