.logo {
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.logo__image {
  display: block;
}

.logo__title {
  display: none;

  @media (min-width: $desctop) {
    font-family: $montserrat-regular;
    font-size: 12px;
    line-height: 133%;
    color: $base-black;
    display: block;
    width: 140px;
    text-transform: none;
    margin: 0;
  }
}
