@keyframes nav-appearance {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.main-nav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  min-width: 100%;
  z-index: 2;
  background-color: $base-white;
  animation: nav-appearance 0.4s ease-in;
  transition: all 0.4s ease;

  &--open {
    display: flex;
    transition: all 0.4s ease;
  }

  @media (min-width: $tablet) {
    display: flex;
    min-width: auto;
    position: relative;
    right: auto;
    animation: none;
  }
}

.main-nav__list {
  display: flex;
  flex-flow: wrap column;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet) {
    flex-flow: wrap row;
    width: auto;
    justify-content: center;
    max-width: 400px;
  }

  @media (min-width: $desctop) {
    max-width: 600px;
    gap: 20px;
  }
}

.main-nav__link {
  position: relative;
  font-family: $montserrat-medium;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $base-black;
  display: block;
  min-height: 57px;
  padding: 20px 20px 21px;
  text-decoration: none;
  transition: all 0.2s ease;
  border-top: 1px solid $base-secondary;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $base-primary;
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    color: $base-primary;
    background-color: $base-secondary;
  }

  @media (min-width: $tablet) {
    border-top: none;
    min-height: 80px;
    padding: 32px 20px;
  }
}

.main-nav__item:last-child .main-nav__link {
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.main-nav__link--current {
  @media (min-width: $tablet) {
    color: $base-primary;

    &::after {
      width: 100%;
    }
  }
}
