.main-nav {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  position: relative;
  font-family: $montserrat-medium;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $base-black;
  display: block;
  min-height: 80px;
  padding: 32px 20px;
  text-decoration: none;
  transition: all 0.2s ease;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $base-primary;
    transition: all 0.3s ease;
  }

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:active {
    color: $base-primary;
    background-color: $base-secondary;
  }
}

.main-nav__link--current {
  color: $base-primary;

  &::after {
    width: 100%;
  }
}
