.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 180px;

  @media (min-width: $desctop) {
    max-width: 300px;
    gap: 20px;
  }
}

.menu__link {
  position: relative;
  display: block;
  min-width: 60px;
  min-height: 60px;
  transition: all 0.2s ease;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    mask-repeat: no-repeat;
    transition: all 0.2s ease;
  }

  &:hover,
  &:focus {
    color: $base-primary;
  }

  &:hover::before,
  &:focus::before {
    background-color: $base-primary;
  }

  &:active {
    color: $base-primary;
    background-color: $base-secondary;
  }

  @media (min-width: $desctop) {
    font-family: $montserrat-medium;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $base-black;
    padding: 32px 20px 32px 44px;
    background-position: left 20px center;
    text-decoration: none;

    &::after {
      position: relative;
      top: 0;
      left: 0;
    }

    &::before {
      left: 28px;
    }
  }
}

.menu__link--personal-account {
  @media (min-width: $desctop) {
    &::after {
      content: "Войти";
    }
  }
}

.menu__link--personal-account::before {
  mask-image: url("../../icons/stack.svg#icon-user");
  background-color: $base-black;
}

.menu__link--basket {
  @media (min-width: $desctop) {
    &::after {
      content: "Корзина";
    }
  }
}

.menu__link--basket::before {
  mask-image: url("../../icons/stack.svg#icon-basket");
  background-color: $base-black;
}
