.sort {
  display: flex;
  align-items: center;
  gap: 8px;

  @media (min-width: $tablet) {
    justify-content: end;
    gap: 10px;
  }
}

.sort__span {
  margin: 0;
}

.sort__select {
  font-family: $montserrat-semibold;
  font-size: 16px;
  line-height: 150%;
  color: $base-primary;
  padding: 4px 30px 4px 10px;
  width: 165px;
  border: none;
  background-color: $bg-lightest-grey;
  appearance: none;
  background-image: url("../../icons/stack.svg#icon-select-arrow");
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 10px 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    background-color: $base-secondary;
  }

  &:active {
    background-image: url("../../icons/stack.svg#icon-select-arrow-up");
  }
}
